---
title: Data Servicepunt
description: Data Servicepunt helpt en faciliteert bij (her)gebruik van data door middel van een aantal producten en diensten.
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {% include nav.html %}
    <header>
      <div class="wrapper">
        <img src="img/Logo.png" alt="Provincie Flevoland" />
      </div>
    </header>
    <main>
      <div class="wrapper" style="padding-top: 8rem">

        <div class="content" style="max-width: 40rem; background: white; padding: 1rem; margin: auto;">

          <h1>{{page.title}}</h1>
          <p>{{page.description}}</p>

          {% for x in site.data.producten_en_diensten %}
            <h2>
                {% if x.uri %}
                <a href="{{x.uri}}">{{x.naam}}</a>
                {% else %}
                {{x.naam}}
                {% endif %}
            </h2>
            <p>{{x.omschrijving}}</p>
          {% endfor %}

        </div>

      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
