<footer>
  <div class="wrapper">
    <div style="display: flex">
      <div style="width: 150px">
        <img src="https://www.dataservicepunt.nl/flevoland/img/Logo-provincie-Flevoland.png?width=61&height=83" alt="Logo Provincie Flevoland" />
      </div>
      <div style="flex: auto">
        <h2>Meer informatie en contact</h2>
        <p><a href="mailto:flevoland@dataservicepunt.nl">flevoland@dataservicepunt.nl</a></p>
        <p><a href="https://www.github.com/dataservicepunt/flevoland">Data Servicepunt Flevoland op Github</a></p>
      </div>
  </div>
</footer>
